<footer>
  <div class="container-fluid margin-top">
    <div class="row bg-primary">
      <div class="row">
        <div class="col-4 margin-top right">
          <a>Home</a>
        </div>
        <div class="col-4"></div>
        <div class="col-4 margin-top left">
          <a>Services</a>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <a>Terms</a>
        </div>
        <div class="col-4 center">
          <p>TTPS-Ruby @ 2022</p>
        </div>
        <div class="col-4 left">
          <a>Private Policy</a>
        </div>           
      </div>
    </div>
  </div>
</footer>