<nav class="nav bg-ligth padding"> 
    <li class="nav-item">
        <%= link_to "Inicio", root_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Sucursales", branch_offices_path, class:"nav-link"%>
    </li>
</nav>