<div class="small-container center-block">
    <div class="row center padding"><h2>Edición de usuario</h2></div>
    <%= render "users/form"%>
    <div class="padding">
    <%= link_to "Información del usuario", user_path %>
  </div>
</div>