<div class="large-container center-block">
    <h1>Administración de usuarios</h1>
    <%= link_to "Agregar nuevo usuario", admin_new_users_path %>
    <h2>Usuarios del sistema</h2>
    <div class="container">
        <div class="row">
            <%= render @users %>
        </div>
    </div>
</div>