<div class="center margin-top">
    <h1>Bienvenido usuario: <%=current_user.role.name%></h1>
</div>
<% if current_user.role.id == 1 %>
    <%= render "home/admin"%>
<% elsif current_user.role.id == 2 %>
    <%= render "home/personal" %>
<% else %>
    <%= render "home/client" %>
<% end %>