<div class="col-6">
    <div class="card padding margin-top">
        <h3 class="text-uppercase"><%= branch_office.name%></h3>
        <p class="text-secondary"><%= "Dirección: " + branch_office.direction%></p>
        <p class="text-secondary"><%= "Número de telefono: " + branch_office.phone%></p>
        <%= link_to "Ver más", branch_office%>
    </div>
</div>