<div class="small-container center-block">
    <div class="row center padding"><h2>Edición del turno pendiente</h2></div>
    <%= render "appointments/form"%>
    <div class="padding">
    <%= link_to "Información del turno", appointment_path %>
  </div>
</div>
