<div class="small-container center-block">
  <h1>Editar turno</h1>
  <%= render "appointments/form"%>
  <div class="padding">
    <%= link_to "Información del turno", appointment_path %>
  </div>
</div>
