<div class="large-container center-block">
    <h1>Administración de turnos</h1>
    <div class="container">
        <div class="row">
            <%= render @appointments %>
        </div>
    </div>
</div>