<div class="small-container center-block">
  <div class="row center padding"><h2>Creación de nuevo turno</h2></div>
  <%= render "appointments/form"%>
  <div class="padding">
    <%= link_to "Volver al menu de sucursales", branch_offices_path %>
  </div>
</div>