<tr>
    <td><%= working_day.get_day_name(working_day.day)%></td>
    <td><%= working_day.branch_office.name  %></td>
    <td><%= working_day.attention_time.get_by_format %></td> 
    <td>asd</td>
</tr>