<div class="small-container center-block">
  <div class="row center"><h2>Edición de dia de trabajo</h2></div>
  <%= render "working_days/form"%>
  <div class="padding">
    <%= link_to "Información del día del trabajo", working_day_path %>
  </div>
</div>