<tr>
    <td><%= province.name %></td>
    <td><%= province.locations.size  %></td>
    <td>
        <%= link_to 'Editar', edit_province_path(province) %>
        <%= link_to 'Ver mas', province %>
    </td>
</tr>
