<div class="small-container center-block">
  <div class="row center padding"><h2>Edición de provincia</h2></div>
  <%= render "provinces/form"%>
  <div class="padding">
    <%= link_to "Información de la provincia", province_path %>
  </div>
</div>