<div class="small-container center-block">
    <div class="row center"><h2>Edición de provincia</h2></div>
    <%= render "provinces/form"%>
    <div>
      <%= link_to "Mostrar información", @province %> |
      <%= link_to "Volver a lista de provincias", provinces_path %>
    </div>
</div>