<div class="small-container center-block">
  <div class="row center"><h2>Creación de localidad</h2></div>
  <%= render "provinces/form"%>
  <div>
    <%= link_to "Lista de localidades", provinces_path %>
  </div>
</div>