<div class="small-container center-block">
    <div class="row center"><h2>Edición de localidad</h2></div>
    <%= render "locations/form"%>
    <div class="padding">
    <%= link_to "Información de la localidad", location_path %>
  </div>
</div>