<div class="small-container center-block">
    <div class="row center padding"><h2>Creación de localidad</h2></div>
    <%= render "locations/form"%>
    <div>
      <%= link_to "Lista de localidades", locations_path %>
    </div>
</div>
