<div class="small-container center-block">
  <h3>Alta de nueva localidad</h3>
  <%= render "locations/form"%>
</div>
<div class="padding">
  <div class="row">
    <%= link_to "Back to locations", locations_path %>
  </div>
</div>
