<div class="small-container center-block">
  <div class="row center padding"><h2>Creación de franja horaria</h2></div>    
  <%= render "attention_times/form"%>
  <div class="padding">
    <%= link_to "Lista de horas de atención del sistema", attention_times_path %>
  </div>
</div>