<h1><%=@attention_time.id%></h1>
<h1><%=@attention_time.hour_start%></h1>
<h1><%=@attention_time.hour_end%></h1>

<div>
    <%= button_to 'Eliminar franja horaria', @attention_time , method: :delete %>
</div>